.countdown {
  display: flex;
  gap: 0.5rem;
}

.timeBlock {
  background-color: var(--f1-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.number {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.label {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #aaa;
}
